.header {
    position: relative;
    background: $primary;
}
.header__wrap {
    display: flex;
    align-items: center;
    padding-top: $grid-gap;
    padding-bottom: $grid-gap;
}
.header__logo-tag {
    vertical-align: middle;
}
.header__menu {
    position: relative;
    margin-left: auto;
}
.header__menu-button {
    color: $font-color;
}
.header__menu-label {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4px;
    min-width: 1em;
    height: 1em;
    background: $danger;
    border-radius: 50px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1em;
}