.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $grid-gap;
    margin-bottom: $grid-gap;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .05);
}
.product-cart__gallery {
    display: flex;
    margin-bottom: $grid-gap;
}
.product-cart__gallery--selected {
    border: 1px solid $primary;
    cursor: default;
    &:hover {
        background: transparent;
    }
}
.product-cart__galery-image {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.product-card__image {
    position: relative;
    width: 100%;
    max-width: 200px;
    &:before {
        content: ' ';
        display: block;
        padding-top: 100%;
    }
}
.product-card__image-tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-card__information {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex: 1;
    width: 100%;
}
.product-card__title {
    padding-bottom: $grid-gap;
    margin-top: 0;
    margin-bottom: $grid-gap;
    border-bottom: 1px solid $neutral;
}
.product-card__title-link {
    vertical-align: middle;
}
.product-card__wishlist {
    position: relative;
    color: $primary;
    top: -3px;
}
.product-card__wishlist--active {
    svg {
        fill: $primary
    }
}
.product-card__details {
    display: flex;
    flex-direction: column;
    margin-top: auto; 
    margin-bottom: auto; 
}
.product-card__prices {
    margin-right: $grid-gap;
}
.product-card__label {
    position: relative;
    padding: 6px;
    background: $secondary;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    &:after {
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        margin: auto;
        width: 0;
        height: 0;
        border: 12.5px solid transparent;
        border-left-color: $secondary;
    }
}
.product-card__installments {
    margin: 0;
}
.product-card__installments-value {
    font-size: 1.4em;
    line-height: $line-height;
}
.product-card__price {
    margin-top: 0;
}
.product-card__installments {
    color: $success;
    font-weight: bold;
}
.product-card__cta {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 650px) {
    .product-card {
        flex-direction: row;
        align-items: stretch;
    }
    .product-card__details {
        flex-direction: row;
    }
    .product-cart__gallery {
        flex-direction: column;
        justify-content: center;
        margin-right: $grid-gap;
        margin-bottom: 0;
    }
    .product-card__information {
        margin-left: $grid-gap;
    }
    .product-card__cta {
        margin-right: 0;
    }
}