html {
    color: $font-color;
    font-family: $font;
    font-size: $font-size;
    line-height: $line-height;
}
a {
    color: $font-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
b, strong {
    font-weight: 600;
}
h1, h2, h3 {
    line-height: $title-line-height;
    font-weight: 400;
}

// helpers
.text--success {
    color: $success;
}